---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout>
	<h1>Harmony Insight</h1>
	<p>Un blog sur la musique</p>
</BaseLayout>

<style>
	body {
		color: #fdfdfd;
		text-align: center;
	}

	

	h1 {
		font-size: 5rem;
	}
</style>