<header>
	<a href="/"
		><img
			src="src/pages/blog/assets/img/harmony-removebg-preview.png"
			alt=""
			width="100px"
		/></a
	>
	<nav>
		<a href="/">Accueil</a>
		<a href="blog">Blog</a>
	</nav>
</header>

<style>
	header {
		display: grid;
		position: relative;
		grid-template-columns: 50% 50%;
		background-color: #abe4a1;
		padding: 0.5vw 5vw;
		margin-bottom: 8%;
		z-index: 1;
	}

	header > a {
		grid-column-start: 1;
		display: flex;
		justify-content: end;
	}

	nav {
		display: flex;
		align-items: center;
		grid-column-start: 2;
		text-align: left;
	}

	nav > a {
		margin-right: 2%;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	a:hover {
		color: #e3a1d0;
	}
</style>
