<header>
	<p>Notre super Blog</p>
	<nav>
		<a href="/">Accueil</a>
	</nav>
</header>

<style>

	header {
		display : flex;
		background-color: blanchedalmond;
		padding: 2vw 5vw;
	}
	
	nav {
		display: flex;
		justify-content: center;
	}
</style>