---
import '../styles/global.css';
import HeaderComponent from '../components/Header.astro';
import FooterComponent from '../components/Footer.astro';
---



<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Notre super blog</title>
	</head>
	<body>
		<HeaderComponent />
		<main>
			<article>
				<!--La balise slot sera remplacée par le contenu des pages dans lesquelles on aura importé le layout Base.astro -->
				<slot />
			</article>
		</main>
		<FooterComponent />
	</body>
</html>

<style>
	main{
		max-width: 80%;
		margin: 0 auto;
	}
	article {
		background-color: bisque;
	}
</style>